  
node_modules
testjs
testbrowsertestjs
testfixturestemp-
testtemp
testChangesAndRemovals
benchmarkjs
benchmarkfixtures
examplesdist
coverage
.nyc_output
.jest-cache
.DS_Store
.log
.idea
.vscode
.cache
.eslintcache
package-lock.json